<div class="items-list">
    <div class="items-list__item">
        <div class="items-list__item--align-top">
            <p>Content aligned at top</p>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus laboriosam, sit dolorem accusantium doloremque odio vitae mollitia, ex itaque reprehenderit nobis nam nulla in quos, cupiditate qui praesentium totam.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus laboriosam, sit dolorem accusantium doloremque odio vitae mollitia, ex itaque reprehenderit nobis nam nulla in quos, cupiditate qui praesentium totam.
            </p>
        </div>
        <div>
            <p>Content</p>
        </div>
    </div>

    <div class="items-list__item">
        <div>
            <p>Content</p>
        </div>
        <div>
            <p>Content</p>
        </div>
        <div class="items-list__item--column-right">
            <p>Content pushed to right</p>
        </div>
    </div>

    <div class="items-list__item">
        <div class="items-list__item--column-left">
            <p>Content pushed to left</p>
        </div>
        <div>
            <p>Content</p>
        </div>
        <div>
            <p>Content</p>
        </div>
    </div>
</div>